{template header}

<!--{if $hp <= 0}-->
<div class="subtitle" >你已经死了！</div>
<IMG src="img/$iconImg" width="70" height="70" border="0" align="middle" style="filter:Xray()">
<span class = "yellow b">$motto</span><br>
死亡时间：$dtime<br>
死亡原因：<!--{if $dinfo[$state]}-->$dinfo[$state]<!--{else}-->未知原因<!--{/if}--><br>
凶手：<!--{if $kname && $state>=20}-->$kname<!--{else}-->无<!--{/if}--><br>

<!--{elseif $gamestate === 0}-->
	<!--{if $winmode == 2}-->
	<div class="subtitle" >游戏结束</div>
<p>
广播突然响起，国歌声传了出来。<BR>
紧接着听到了一个再熟悉不过的声音。<BR>
「恭喜你成为优胜者，你能成为胜利者老师感到相当开心啊！<BR>
现在就过来接你，好好等着哦。」
</p><p>
这个时候，眼前还有气息的人最后就剩我一个吗？<BR>
呆滞的脑袋里回响着坂持金发的播报声。<BR>
真的是那样吗？
</p><p>
也许现在算是残存下来了，但这次的广播难道不是坂持的另一个把戏吗？<BR>
的确，这个节目好象已经成为了政府要员的娱乐项目。<BR>
但是，听到广播以后一直紧绷的心弦终于断开了。
</p><p>
意识开始朦胧。。。<BR>
确实，在这数天内我完全没有睡过。。。<BR>
…<BR>
…<BR>
…
</p><p>
在我眼前只剩下头颅的好友说：<BR>
「果然还是你这家伙能干啊，人都杀光了。」<BR>
在我身后失去一半身体的同学说：<BR>
「说什么“要相信！大家一定能活着出去！”的人，不是你吗！」<BR>
一旁黑暗的角落传来了声音：<BR>
「背叛者！」<BR>
说些什么也好，但是怎么也说不出来，好容易发出点声来：<BR>
「才不是什么能干呢，大家是朋友啊！可是，可是……以前都活着。」<BR>
…<BR>
…<BR>
…
</p><p>
身体的摇晃感，让我苏醒过来。<BR>
往旁边看了一下，有专制队伍的士兵。现在好象正在警车里。<BR>
膝上放着彩色的纸条。<BR>
貌似蚯蚓一样的文字摆在上面：『胜利、热烈祝贺！By共和国总统』
</p><p>
忽然、一阵眩目的闪烁袭来，眼睛被闪得看不见了。<BR>
报道的记者在警车附近按着快门。<BR>
有人跑到车前。手里拿着话筒。<BR>
「……这是第XX回……的……是……想……做个采访……首先、……获胜……感想是？」<BR>
虽然什么也听不进去，但貌似正在做采访的样子。
</p><p>
对了，这个游戏我已经胜出了。今天晚的新闻里也一定会播出吧。<BR>
就在下一个闪光亮起的一瞬间，我竖起了自己的拇指。<BR>
接着说。<BR>
「 <span class="yellow">$sexinfo[$gd] $sNo 号 $name</span> 」 <BR>
念着名字，竖起大拇指的我出现一个念头：<BR>
『要代大家的那份也一起活下去。一定要…一定要…』<BR>
而且…要带着笑容的。<BR>
就算是对同学所做的补偿也好。<BR>
无论如何。<BR>
即使笑容被别人认为是抽搐也罢。
</p><p>
等报完最后一个同学之后，瞬时拽下了左耳那誓言的耳环。<BR>
「好疼！」<BR>
我不经意的叫了出声。<BR>
随后鲜血顺着左耳流下来。<BR>
「我和大家，都一起留在这里啊。」
</p><p>
就在心灵快要破碎的瞬间、<BR>
真诚的血液、<BR>
诚实的眼泪、<BR>
与耳环一起飞舞在空中。<BR>
…<BR>
…<BR>
…<BR>
…<BR>
…<BR><BR>
</p><p>
就在这一天的傍晚，新宿大屏幕前的广场像往常一样聚满了人。<BR>
漫无目的有的是时间的人。<BR>
拿着手机电话打个不停的人。<BR>
实际上去注意大屏幕放送的人却没多少。
</p><p>
「前段时间进行的节目优胜者已经出现了！<BR>
现在就让我们来关注一下现场吧……」<BR>
传送过来的正是胜利者的影像。<BR>
</p><p>
「这次获胜的不会就是这家伙吧。笑死人了。<BR>
真恶心！杀人犯一个」<BR>
拼命用手机发着短信的人台头说道。<BR>
随着仰起的头，左耳上的银色耳环摇动着。<BR>
他没有看到优胜者的血与泪。<BR>
当然他更没有听到，从那小小嘴里说出的同学姓名。
</p><p>
但是，另一样事情立刻吸引了他的注意力。<BR>
「哦！发现个不错的女人！」<BR>
似乎还没坐稳的他努力的直起腰板、<BR>
向一位女性跑了过去。<BR><BR>
</p><p>
一只誓言的耳环用被人们做成了仿制品、<BR>
而另一只誓言的耳环……
</p>

	<!--{elseif $winmode == 3 && $state == 6}-->
	<div class="subtitle" >游戏紧急中止</div>
<p>
<br>
「哈…哈……」（我疲惫的呼吸着）<br>
眼前摆着把我们送到这个节目来的男人的尸体，让人感到十分不爽。<br>
就是这家伙…全都是这鸟人强迫我们到这个恶心的节目来。<br>
而且不允许我们有自己的想法，完全以无理的暴力来逼迫我们。<br>
翻了下他的衣服、手碰到了个电子钥匙一样的物体。<br>
如果用这个的话…我和残存下的大家就能从这样一个游戏里解放出来了。<br>
「………」<br>
但是，疑惑又从心中升起。<br>
这样真的可以吗？能从政府的手里逃走吗？<br>
不行…那种事情可以以后再考虑。<br>
总而言之，不先将同学们从这互相残杀的白痴状态下脱离出来的话……。
</p><p>
刚插入钥匙，伴随着游戏完结的电子报音，项圈喀嚓一声尖响掉落在地。<br>
随后，将那至今不知道播报过多少位同学死亡讯息的麦克风拿在手中，深吸一口气。<br>
「这个节目完了！已经不用再互相残杀了！」<br>
</p><p>
该做的事情我都已经做了。<br>
接下来的事让还活着的大家各自去做各自的打算。<br>
没有时间在这种地方磨磨蹭蹭了。<br>
因为从现在开始比这个节目还要严酷的现实还在等着我们去承受……。<br>
将来事只能由我们自己来决定了……
</p><p>
「使节目紧急终止的嫌疑学员仍在……」<br>
……一位少年眺望着街头激光荧屏中的临时播报。<br>
嘴角翘起浮现出笑容、手一边插在口袋里边露出相当不屑的表情。<br>
「努力啊…因为谁也不会来救你哦…」<br>
完全无视下一轮的播报，少年回避着周遭的人们，渐渐消失。
</p>


	<!--{elseif $winmode == 3}-->
	<div class="subtitle" >游戏紧急中止</div>
<p>
完全没有料到，警报器的声音向耳朵穿刺过来。<BR>
已经有人胜出了吗…？不对、残存的同学们的的确确都还在这里没错……但为什么会……<BR>
正这样想着，同学那再熟悉不过的声音从不远处传来。<BR>
「这个节目完了！已经不用再互相残杀了！」<BR>
</p><p>
简直不敢相信，<BR>
居然能从这地狱般的节目中解脱出来。但是，现在的我们该如何是好。<BR>
同学们一起并肩与政府作对？<BR>
还是零落的逃走，各自积攒实力？<BR>
又或是什么也别想回到自己家里？<BR>
已经没有考虑的时间了。HACK后的禁区到今晚0:00就会复原。<BR>
此外，再拖拖拉拉的话，执行总部的士兵一定会赶到将我们处死吧。<BR>
「………」<BR>
总之，还是先取下绑在我们脖子上已经不再运行的项圈。<BR>
丢掉武器、深深的大吸一口空气……<BR>
</p><p>
反正已经从这里逃出来了的样子。<BR>
不管将来会怎样。<BR>
我们是『希望』呀。能和这个地狱般的游戏、能和这个时代的邪恶立法作战的『希望』<BR>
或许是从绝望中诞生的希望吧…我们会努力走下去！<BR>
只要不倒下就一直走下去……！！
</p><p>
「节目紧急停止后，从会场逃跑的少年们仍然……」<BR>
……一位少年眺望着街头激光荧屏中的临时播报。<BR>
紧紧咬着嘴唇，握着拳头，满脸认真的说。<BR>
「跑啊……！能去多远就去多远！」<BR>
完全无视下一轮的报道，少年朝反方向跑去，游入人的海洋。
</p><p>
	<!--{/if}-->
<!--{else}-->
不明错误，请返回游戏首页！
<!--{/if}-->

<br>
<form method="post" name="backindex" action="index.php">
<input type="submit" name="enter" value="{lang backindex}">
</form>


{template footer}
