</div>
<div width="100%">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td colspan="2">
<hr>
</tr></td>
<tr><td>
<span class="yellow">注意:系统变更请参照游戏帮助。<BR>最适合解析度1024*768。<br></font>
</td><td>
<p style="text-align: right">
<b><font face="Viner Hand ITC" color="#ff0000" style="font-size: 9pt">
<a href="http://www.loongyou.com">生存游戏 - BRA简体版V3.0.2 by loongyou.com  </a><br>
<a href="http://www.b-r-u.net/">BRU (Battle Royale Ultimate) V0.22</a></b></font>
</p></tr></td>
</table>
</div>
</body>
</html>
{eval output();}