{template header}




<div class="subtitle" >{lang gamestart}</div>
<p align="center">
张开眼睛后，发现自己在一个像教室的地方。我不是应该去了修学旅行吗···？<br>
「对了，在去修学旅行的巴士中忽然睡意袭来···」<br>
纵览四周，看见其他的学生好像也在。用心地看的话，发现了大家的颈上套上了银色项圈，<br>
用手碰自己的颈，也感觉到冷冷的金属触感。<br>
正在疑惑大家为什么都套上同样的那个银色项圈的时候...<br><br>
突然，从前面的门，一个男人全副武装装备的军人走了进来···。<br><br>
<img border="0" src="./img/n_1.gif" width="70" height="70"><br><br>
「大家好，一年前的时候我也是这次计划的担当者。很荣幸能再担任此次计划的任务。很好！<br>
随着时间日子人民越来越安于现状，过着幸福日子的时候，相信各位已经忘记了国家曾多努力多辛苦才能建成今天的社会地位，<br>
如今国家开始衰退，想再振兴，但人们已经再没有自信，这是很危险的。因此，伟大的人们商量制定了这个计划。<br><br>
</p>
<p align="center">
<font color="#ff0000" face="verdana" size="6">
<span id="br" style="width:100%;filter:blur(add=1,direction=135,strength=9):glow(strength=5,color=gold); font-weight:700; text-decoration:underline">
■ BATTLE ROYALE ■</span></font></p><br>
今天起开始，在这里诸位要开始互相杀害对方。<br>
如果你想取下那个项圈，尝试打算逃走的话，你将会立即被杀。<br><br>
直到剩下一人生存为止，乖乖遵守别犯规。<br>
哎呀，老师都忘记了说，这里是一个四面环海的荒岛。<br><br>
而这里是这个岛的分校。<br>
老师会一直在这里看着各位努力。<br><br>
那么，开始说这个计划如何执行。你从这里出去后去哪里也可以。<br>
每天8小时 (0点和8点和6点)，做全岛广播。一日三回。<br><br>
在那里，大家会看到地图，这个区域什么时候危险老师会告知。<br>
好好地了解地图，离开那一个区域，<br>
要很快地从那个区域出来喔。<br><br>
为何会这样说呢，不逃离广播危险区域的范围，那个项圈是会爆炸的。<br><br>
因此呀，潜伏在该区域中的建筑物中也是不行。<br>
就算挖洞隐藏无线电波也会找到你引爆喔。<br>
对了，建筑物平常是可以让你任意隐藏的。<br><br>
但还是你要知道。计划有时间限制。你只有<b><font color="red">一天</font></b>时间去完成。<br><br>
时间够如果还留下不止一人，剩下的那些人的项圈一样会爆炸。因为冠军只能够存活<u>—人</u>。<br><br>
既然参加了游戏就要全力以赴，老师可不想看到没胜利者呢！<br>
你们每个人将被派发到一个物品包，里面有食物和水，指南针，以及一件武器。<br><br>
下面开始，按照学号，拿好你们的东西，一个个离开这里！<br><br>
</font>
<form method="post"  action="game.php" style="margin: 0px">
<input type="hidden" name="mode" value="main">
<input type="submit" name="enter" value="离开教室">
</form>
</p>

{template footer}